cv_bridge
ffmpeg-python==0.2.0
h5py==3.16.0
huggingface_hub==0.36.2
imageio==2.37.2
librosa==0.10.2.post1
matplotlib==3.10.8
monai==1.5.2
networkx==3.6.1
onnxruntime==1.23.2
opencv-python
pandas
Pillow==12.1.1
pygame==2.6.1
PyQt5==5.15.11
pyqtgraph==0.14.0
python-osc==1.9.3
pytorch-lightning==2.6.0
pyvis==0.3.2
regex==2026.1.15
scikit-image
scikit-learn==1.8.0
scipy
seaborn==0.13.2
statsmodels==0.14.6
timm==1.0.26
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.1
transformers==4.57.6
git+https://github.com/ChaoningZhang/MobileSAM.git
